<div class='consecutivenights-preview-night'>
  <span>
    Preview >
  </span>


  <span>
    Base: <b>{{ base }}</b>
  </span>

  <span>
    Nights: <b>{{ nights }}</b>
  </span>

  <span>
    Nights avg: <b>{{ average }}</b>
  </span>

   <span>
    Total: <b>{{ total }}</b>
  </span>
</div>
