#guest-messages {
  background: #d3d3d32b;
  list-style-type: none;
  padding: 0px;
  width: 69%;
  margin: auto;
}

#guest-messages li {
  background: #dbdbdb;
  border-radius: 0.375rem;
  list-style-type: none;
  margin: 2em 1%;
  padding: 2em 12px;
}

#guest-messages li h4 span {
  float: right;
  font-size: 0.64em;
}

#guest-messages li .message {
  background: #fff;
  font-size: 0.72em;
  height: 220px;
  overflow-y: scroll;
  padding: 12px;
}

#guest-messages li .message span {
  background: lightyellow;
  font-weight: bold;
  padding: auto 48px;
}
