{# bee-hotel s provides a list of available units  #}
{# this is the unit html  #}

<span class='{{ class }}'>
  <span class='value'>
    {{ string }}
  </span>
  {{ type }}
</span>
<div class='description'>{{ description }}</div>
