<div class='price-alterators-chain beehotel-pricealterator-chain chain-chart'>
  <h3>{{ 'Price debug'|t }}</h3>  <h4>{{'How price is built'|t }}</h4>
  <div id="chain-chart" style="width:100%;height:160px;">chart here...</div>
  <details>
  <summary>{{ "Price Alteration chain" | t }}</summary>
    <div id="chain-list" style="width: 600px; height: 600px;" class='description'>{{description}}</div>
  </details>
</div>

