<div class="beehotel-dashboard--inbox">
  <div class="inbox-message--wrapper card">
    <div>
      <div class="inbox-footer__message">
      <details>
        <summary>{{ 'Get out the most from BEE Hotel'|t }}</summary>
        {{ 'With <a href="@module" target="_blank">BeeHotel</a> on you receive <b>direct</b> reservations from your <b>own</b> Customers.'|t({'@module': 'https://www.drupal.org/project/bee_hotel'}

          ) }}
        {{ 'Discover more via
          <a href="@guide" target="_blank">online guide</a> and
          <a href="@issues" target="_blank">issue conversations</a>.'|t({ '@drupal': 'https://www.drupal.org/about', '@issues': 'https://www.drupal.org/project/issues/bee_hotel?categories=All', '@module': 'https://www.drupal.org/project/bee_hotel', '@guide': 'https://www.drupal.org/node/3126948', '@issues': 'https://www.drupal.org/project/issues/bee_hotel?categories=All',
            })
          }}
          <br>
          {{ 'Ask the <a href="@hire" target="_blank">maintainer</a> for professional support.'|t({
            '@hire': 'https://www.drupal.org/u/afagioli',
            })
          }}
        </details>
      </div>
    </div>
  </div>
</div>
